# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
dist/
build/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Markdown
*.md

# Misc
*.local